<div class="fun-factor-area fun-bg-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-fun-factor mb-30">
                    <h2><span class="counter">79</span>+</h2>
                    <h4>Teachers</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-fun-factor mb-30">
                    <h2><span class="counter">120</span>+</h2>
                    <h4>Members</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-fun-factor mb-30">
                    <h2><span class="counter">36</span>+</h2>
                    <h4>Courses</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-fun-factor mb-30">
                    <h2><span class="counter">20</span>+</h2>
                    <h4>Countries</h4>
                </div>
            </div>
        </div>
    </div>
</div>