<div class="product-area section-bottom-padding bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Online Library</h3>
                        <p>There are many variations of passages</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!--Single Product Start-->
                <div class="single-product mb-30">
                    <div class="product-img img-full">
                        <a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                           tabindex="0">
                            <img src="16.jpg" alt="">
                        </a>
                        <span class="onsale">Sale!</span>
                    </div>
                    <div class="product-content">
                        <h2><a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                               tabindex="0">Clock</a></h2>
                        <div class="product-price">
                            <div class="price-box">
                                <span class="regular-price">$115.00</span>
                            </div>
                            <div class="add-to-cart">
                                <a href="#" tabindex="0">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Product Start-->
            </div>
            <div class="col-lg-3 col-md-6">
                <!--Single Product Start-->
                <div class="single-product mb-30">
                    <div class="product-img img-full">
                        <a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                           tabindex="0">
                            <img src="2_002.jpg" alt="">
                        </a>
                        <span class="onsale">Sale!</span>
                    </div>
                    <div class="product-content">
                        <h2><a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                               tabindex="0">Eleifend quam</a></h2>
                        <div class="product-price">
                            <div class="price-box">
                                <span class="regular-price">$115.00</span>
                            </div>
                            <div class="add-to-cart">
                                <a href="#" tabindex="0">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Product Start-->
            </div>
            <div class="col-lg-3 col-md-6">
                <!--Single Product Start-->
                <div class="single-product mb-30">
                    <div class="product-img img-full">
                        <a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                           tabindex="0">
                            <img src="4.jpg" alt="">
                        </a>
                        <span class="onsale">Sale!</span>
                    </div>
                    <div class="product-content">
                        <h2><a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                               tabindex="0">Pen quam</a></h2>
                        <div class="product-price">
                            <div class="price-box">
                                <span class="regular-price">$115.00</span>
                            </div>
                            <div class="add-to-cart">
                                <a href="#" tabindex="0">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Product Start-->
            </div>
            <div class="col-lg-3 col-md-6">
                <!--Single Product Start-->
                <div class="single-product mb-30">
                    <div class="product-img img-full">
                        <a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                           tabindex="0">
                            <img src="3_003.jpg" alt="">
                        </a>
                        <span class="onsale">Sale!</span>
                    </div>
                    <div class="product-content">
                        <h2><a href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/single-product.html"
                               tabindex="0">Note Khata</a></h2>
                        <div class="product-price">
                            <div class="price-box">
                                <span class="regular-price">$115.00</span>
                            </div>
                            <div class="add-to-cart">
                                <a href="#" tabindex="0">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Product Start-->
            </div>
        </div>
    </div>
</div>