<header>
    <div class="header-logo-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="logo">
                        <a href="/">
                            <img src="{{asset "images/logo.png"}}" alt="{{@blog.title}}">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="mainmenu-area">
                        <div class="mainmenu d-block d-lg-block">
                            <nav>
                                {{#if @blog.navigation}}
                                    {{navigation}}
                                {{/if}}
                            </nav>
                        </div>
                        <ul class="header-search">
                            <li class="search-menu">
                                <i id="toggle-search" class="fa fa-search"></i>
                            </li>
                        </ul>
                        <!--Search Form-->
                        <div class="search">
                            <div class="search-form">
                                <form id="search-form" action="#">
                                    <input placeholder="Search here..." name="search" type="search">
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!--End of Search Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>