<div class="slider-area">
    <div class="hero-slider owl-carousel owl-loaded owl-drag">
        <!--Single Slider Start-->

        <!--Single Slider End-->
        <!--Single Slider Start-->

        <!--Single Slider End-->
        <div class="owl-stage-outer">
            <div class="owl-stage"
                 style="transform: translate3d(-3812px, 0px, 0px); transition: all 0s ease 0s; width: 11436px;">
                <div class="owl-item cloned" style="width: 1906px;">
                    <div class="single-slider single-slider-2" style="background-image: url(img/slider/3.jpg)">
                        <div class="hero-slider-content slider-content-2">
                            <h1>Education Needs <br> Complete Solution</h1>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Atque unde, at molestias voluptatem
                                praesentium quia magnam? Iste aliquam, voluptas sapiente animi,
                                repudiandae officiis voluptatem tempore alias nihil. Aperiam voluptatum,
                                velit.</p>
                            <div class="slider-btn">
                                <a class="button-default"
                                   href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/course.html">View
                                    Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1906px;">
                    <div class="single-slider single-slider-2" style="background-image: url(img/slider/4.jpg)">
                        <div class="hero-slider-content slider-content-2">
                            <h1>Education Needs <br> Complete Solution</h1>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Atque unde, at molestias voluptatem
                                praesentium quia magnam? Iste aliquam, voluptas sapiente animi,
                                repudiandae officiis voluptatem tempore alias nihil. Aperiam voluptatum,
                                velit.</p>
                            <div class="slider-btn">
                                <a class="button-default"
                                   href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/course.html">View
                                    Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 1906px;">
                    <div class="single-slider single-slider-2" style="background-image: url(img/slider/3.jpg)">
                        <div class="hero-slider-content slider-content-2">
                            <h1>Education Needs <br> Complete Solution</h1>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Atque unde, at molestias voluptatem
                                praesentium quia magnam? Iste aliquam, voluptas sapiente animi,
                                repudiandae officiis voluptatem tempore alias nihil. Aperiam voluptatum,
                                velit.</p>
                            <div class="slider-btn">
                                <a class="button-default"
                                   href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/course.html">View
                                    Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 1906px;">
                    <div class="single-slider single-slider-2" style="background-image: url(img/slider/4.jpg)">
                        <div class="hero-slider-content slider-content-2">
                            <h1>Education Needs <br> Complete Solution</h1>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Atque unde, at molestias voluptatem
                                praesentium quia magnam? Iste aliquam, voluptas sapiente animi,
                                repudiandae officiis voluptatem tempore alias nihil. Aperiam voluptatum,
                                velit.</p>
                            <div class="slider-btn">
                                <a class="button-default"
                                   href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/course.html">View
                                    Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1906px;">
                    <div class="single-slider single-slider-2" style="background-image: url(img/slider/3.jpg)">
                        <div class="hero-slider-content slider-content-2">
                            <h1>Education Needs <br> Complete Solution</h1>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Atque unde, at molestias voluptatem
                                praesentium quia magnam? Iste aliquam, voluptas sapiente animi,
                                repudiandae officiis voluptatem tempore alias nihil. Aperiam voluptatum,
                                velit.</p>
                            <div class="slider-btn">
                                <a class="button-default"
                                   href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/course.html">View
                                    Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 1906px;">
                    <div class="single-slider single-slider-2" style="background-image: url(img/slider/4.jpg)">
                        <div class="hero-slider-content slider-content-2">
                            <h1>Education Needs <br> Complete Solution</h1>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Atque unde, at molestias voluptatem
                                praesentium quia magnam? Iste aliquam, voluptas sapiente animi,
                                repudiandae officiis voluptatem tempore alias nihil. Aperiam voluptatum,
                                velit.</p>
                            <div class="slider-btn">
                                <a class="button-default"
                                   href="https://d29u17ylf1ylz9.cloudfront.net/edubuzz-v1/edubuzz/course.html">View
                                    Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav">
            <div class="owl-prev"><i class="zmdi zmdi-chevron-left"></i></div>
            <div class="owl-next"><i class="zmdi zmdi-chevron-right"></i></div>
        </div>
        <div class="owl-dots">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
        </div>
    </div>
</div>