<div class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="testimonial-slider-2 owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2400px;">
                        <div class="owl-item active" style="width: 600px;">
                            <div class="col-12">
                                <div class="single-testimonial testimonial-style-2">
                                    <div class="des-testimonial">
                                        <p>Praesent volutpat ut nisl
                                            in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et
                                            ultrices posuere cubilia Etiam porttitor, lacus in ...</p>
                                    </div>
                                    <div class="testimonial-author">
                                        <div class="author-img">
                                            <img src="testimonial1.png" alt="">
                                        </div>
                                        <div class="author-content">
                                            <h5>John Doe </h5>
                                            <p>demo@hastech.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 600px;">
                            <div class="col-12">
                                <div class="single-testimonial testimonial-style-2">
                                    <div class="des-testimonial">
                                        <p>Praesent volutpat ut nisl
                                            in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et
                                            ultrices posuere cubilia Etiam porttitor, lacus in ...</p>
                                    </div>
                                    <div class="testimonial-author">
                                        <div class="author-img">
                                            <img src="testimonial1.png" alt="">
                                        </div>
                                        <div class="author-content">
                                            <h5>John Doe </h5>
                                            <p>demo@hastech.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 600px;">
                            <div class="col-12">
                                <div class="single-testimonial testimonial-style-2">
                                    <div class="des-testimonial">
                                        <p>Praesent volutpat ut nisl
                                            in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et
                                            ultrices posuere cubilia Etiam porttitor, lacus in ...</p>
                                    </div>
                                    <div class="testimonial-author">
                                        <div class="author-img">
                                            <img src="testimonial1.png" alt="">
                                        </div>
                                        <div class="author-content">
                                            <h5>John Doe </h5>
                                            <p>demo@hastech.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 600px;">
                            <div class="col-12">
                                <div class="single-testimonial testimonial-style-2">
                                    <div class="des-testimonial">
                                        <p>Praesent volutpat ut nisl
                                            in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et
                                            ultrices posuere cubilia Etiam porttitor, lacus in ...</p>
                                    </div>
                                    <div class="testimonial-author">
                                        <div class="author-img">
                                            <img src="testimonial1.png" alt="">
                                        </div>
                                        <div class="author-content">
                                            <h5>John Doe </h5>
                                            <p>demo@hastech.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled">
                    <div class="owl-prev"><span class="fs1" data-icon="4"></span></div>
                    <div class="owl-next"><span class="fs1" data-icon="5"></span></div>
                </div>
                <div class="owl-dots">
                    <div class="owl-dot active"><span></span></div>
                    <div class="owl-dot"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>