{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div class="container">
    <h1 class="section-title">404: Сторінка не знайдена</h1>
</div>

<div class="latest-area">
    <div class="container pb-5">
        <p>Мабуть колись це був пост, але зараз, нажаль, його тут нема</p>
        <p>Скористайтеся пошуком у шапці сайту</p>
        <p><a class="error-link" href="{{@blog.url}}">Або почніть з головної сторінки</a></p>
    </div>
</div>
