{{!< default}}
<div class="bg-grey-light">
    <div class="container">
        <h1 class="text-center py-2 py-md-5">Долучитись</h1>
    </div>
</div>
<div class="container py-2 py-md-5">
    {{^if success}}
        Ви можете залишити свій Email у формі нижче, якщо бажаєте долучитись до нашої команди. Разом ми зробимо Україну успішною!
    {{else}}
        <header>
            <h1>Дякуємо!</h1>
        </header>

        <p>
            Ваш email <em>{{email}}</em> додано до нашої бази. Ми обов'язково відповимо!
        </p>
    {{/if}}
</div>