{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
<div class="container">
    <h1 class="section-title">{{name}}</h1>

    {{#if feature_image}}
        <img src="{{feature_image}}">
    {{/if}}

    {{#if description}}
        <p>
            {{description}}
        </p>
    {{/if}}
</div>
{{/tag}}

<div class="latest-area">
    <div class="container">
        <div class="row">
            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</div>