@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$emerald: #2ecc71;
$primary: darken($emerald, 15%);
$secondary: #186839;
$white: #EEE;
$whiter: #f6f6f6;
$grey: #2d3e50;
$black: #000;

$theme-colors: (
    'primary-light': darken($emerald, 10%),
    'grey': $grey,
    'grey-light': #BBB,
);

$enable-shadows: true;

$font-family-sans-serif: 'Montserrat', sans-serif;
$link-hover-decoration: none;

$navbar-padding-y: 1.5rem;
$navbar-dark-color: $black;
$navbar-dark-hover-color: $emerald;
$navbar-dark-active-color: $white;

@import "../bootstrap/bootstrap";

.btn-lg.rounded {
  border-radius: 50px !important;
}

.navbar ul.navbar-nav > li.nav-item > a.nav-link {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.section-title, .subsection-title {
  color: $grey;
  text-transform: uppercase;
  font-weight: 700;
}

.section-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subsection-title {
  font-size: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

/*  7. Latest News Area */
/*----------------------------------------*/

.single-latest-text > h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.single-latest-text p {
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
}
.single-latest-item {
  overflow: hidden;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s
}
.single-latest-image {
  position: relative;
  .badge {
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.single-latest-item:hover {
  box-shadow: 2px 5px 25px rgba(34, 30, 31, 0.25);
}
.single-latest-image img {
  width: 100%;
}
.single-latest-text > h3 a {
  color: $grey;
}
.single-latest-text > h3 a:hover {
  color: $emerald;
}
.single-latest-text {
  background: $whiter none repeat scroll 0 0;
  overflow: hidden;
  padding: 30px 35px 27px 35px;
}

/*----------------------------------------*/

/*  12. Footer Widget Area
/*----------------------------------------*/

.footer-widget-area {
  background: $primary none repeat scroll 0 0;
  color: #fff;
  padding: 50px 0 50px;
}
.single-footer-widget p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 0;
}
.single-footer-widget > h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 19px;
  margin-bottom: 37px;
  padding-top: 12px;
  text-transform: uppercase;
  color: #fff;
}
.single-footer-widget > span {
  display: block;
  margin-bottom: 11px;
}
.single-footer-widget > span i {
  font-size: 18px;
  width: 30px;
}
.single-footer-widget > a {
  color: #ffffff;
  display: block;
  margin-bottom: 11px;
}
.single-footer-widget > a:hover i {
  color: #fff
}
.single-footer-widget > a i {
  font-size: 18px;
  width: 30px;
}