@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$emerald: #2ecc71;
$primary: darken($emerald, 15%);
$secondary: #186839;
$white: #EEE;
$whiter: #f6f6f6;
$grey: #2d3e50;
$black: #000;

$theme-colors: (
    'primary-light': darken($emerald, 10%),
    'grey': $grey,
    'grey-light': #BBB,
);

$enable-shadows: true;

$font-family-sans-serif: 'Montserrat', sans-serif;
$link-hover-decoration: none;

$navbar-padding-y: 1.5rem;
$navbar-dark-color: $black;
$navbar-dark-hover-color: $emerald;
$navbar-dark-active-color: $white;

@import "../bootstrap/bootstrap";

.btn-lg.rounded {
  border-radius: 50px !important;
}

.navbar ul.navbar-nav > li.nav-item > a.nav-link {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.section-title, .subsection-title {
  color: $grey;
  text-transform: uppercase;
  font-weight: 700;
}

.section-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subsection-title {
  font-size: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.post {
  figure.kg-embed-card-iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  figure.kg-image-card {
    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      color: $text-muted;
      text-align: center;
    }
  }

  blockquote {
    margin-left: 0.5rem;
    border-left: $primary 2px solid;
    padding-left: 1rem;
    font-size: $small-font-size;
  }
}

/* Gallery */
.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

@media (min-width: 1040px) {
  .kg-gallery-container {
    margin: auto calc(50% - 50vw - .8rem);
    min-width: calc(100% + 18rem);
    transform: translateX(calc(50vw - 50% + .8rem));
    width: calc(65vw + 2px);
  }
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
  margin: -2.25em 0 3em;
}

/*  7. Latest News Area */
/*----------------------------------------*/

.single-latest-text > h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.single-latest-text p {
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
}
.single-latest-item {
  overflow: hidden;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s
}
.single-latest-image {
  position: relative;
  .badge {
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.single-latest-item:hover {
  box-shadow: 2px 5px 25px rgba(34, 30, 31, 0.25);
}
.single-latest-image img {
  width: 100%;
}
.single-latest-text > h3 a {
  color: $grey;
}
.single-latest-text > h3 a:hover {
  color: $emerald;
}
.single-latest-text {
  background: $whiter none repeat scroll 0 0;
  overflow: hidden;
  padding: 30px 35px 27px 35px;
}

/*----------------------------------------*/

/*  12. Footer Widget Area
/*----------------------------------------*/

.footer-widget-area {
  background: $primary none repeat scroll 0 0;
  color: #fff;
  padding: 50px 0 50px;
}
.single-footer-widget p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 0;
}
.single-footer-widget > h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 19px;
  margin-bottom: 37px;
  padding-top: 12px;
  text-transform: uppercase;
  color: #fff;
}
.single-footer-widget > span {
  display: block;
  margin-bottom: 11px;
}
.single-footer-widget > span i {
  font-size: 18px;
  width: 30px;
}
.single-footer-widget > a {
  color: #ffffff;
  display: block;
  margin-bottom: 11px;
}
.single-footer-widget > a:hover i {
  color: #fff
}
.single-footer-widget > a i {
  font-size: 18px;
  width: 30px;
}